body{
  background: #f5f5f5;
  font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.login-button {
  width: 200px;
  background: #2F4F4F;
}

button{
  background: #2F4F4F !important;
  height: 50px;
}

button.new{
  background: #2F4F4F !important;
  height: 50px;
  width: 160px;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 70%;
}
.uploadButton {
  margin-top: 2px;
}
.inputFile {
  display: none;
}
ul.menu {
  background: #2F4F4F;
  list-style-type: none;
  margin: -8px;
  padding: 0;
  font-size: 16px;
}

ul.menu li {
  display: inline-block;
  position: relative;
  color: #fff;
}

ul.menu li a {
  display: block;
  padding: 10px 20px;
  background-color: #2F4F4F;
  color: #fff;
  text-decoration: none;
}

/* Estilos para os submenus */
ul.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f4f4f4;
}

ul.menu li:hover > ul {
  display: block;
}

ul.menu ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

ul.menu ul ul li {
  position: relative;
  top: -60px;
  left: 200px;
}

ul.menu ul li a {
  padding: 10px 15px;
  color: #fff;
}

ul.menu ul li:hover > ul {
  display: block;
}

ul.menu ul ul {
  top: 0;
  left: 100%;
}


.header{
  justify-content:  space-between ;
  display: flex; /* or inline-flex */
  margin-top: 20px;
}

.simple-table {
  border-collapse: collapse;
  width: 100%;
}

.simple-table th, .simple-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.simple-table th {
  background-color: #f2f2f2;
}

.simple-table tr:nth-child(even) {
  background-color: #f9f9f9;
}